<div style="margin-top: 10px; display: flex; justify-content: center; ">
  資料時間：
  <input type="date" [(ngModel)]="startDate" />至
  <input type="date" [(ngModel)]="endDate" />
</div>
<div style="margin-top: 10px; display: flex; justify-content: center;">
  交易方式：
  <select id="typeSelect" [(ngModel)]="selectedType">
    <option value=""></option>
    <option value="F">定價</option>
    <option value="C">競價</option>
    <option value="N">議借</option>
  </select>
</div>
<div style="margin-top: 10px; display: flex; justify-content: center;">
  股票代碼：
  <input style="width: 5em" [(ngModel)]="stockCode" type="text" name="stockCode" />
</div>
<div style="margin-top: 10px; display: flex; justify-content: center;">
  <button (click)="getDataFromBackEnd(1,'Id','↑')">確認</button>
</div>
<div style="margin-top: 10px; display: flex; justify-content: center;">
  <select *ngIf="isPages" id="pageSelect" [(ngModel)]="selectedPage" (click)="getDataFromBackEndByPage()">
    <option value="1">頁數</option>
    <option *ngFor="let opt of ngOptions"
            [selected]="opt === selectedPage"
            [value]="opt">
      {{ opt }}
    </option>
  </select>
</div>
<div style="text-align: right; margin: 0 20px 0 0; ">
  <button [disabled]="isButtonDisabled" (click)="insertTwseDataToDB()">更新資料庫</button>
</div>
<div style="margin-top: 10px;">
  <table style="border: 1px solid black; margin: 0 20px 0 20px; ">
    <thead>
      <tr>
        <td width="200px" (click)="sortData('TradeDate',tradeDateDirection)">TradeDate {{tradeDateDirection}}</td>
        <td width="400px" (click)="sortData('StockId',stockCodeDirection)">StockCode {{stockCodeDirection}}</td>
        <td width="200px" (click)="sortData('Type',typeDirection)">Type {{typeDirection}}</td>
        <td width="200px" (click)="sortData('Volume',volumeDirection)">Volume {{volumeDirection}}</td>
        <td width="200px" (click)="sortData('Fee',feeDirection)">Fee {{feeDirection}}</td>
        <td width="200px" (click)="sortData('Price',priceDirection)">Price {{priceDirection}}</td>
        <td width="200px" (click)="sortData('LendingPeriod',lendingPerioDirection)">LendingPeriod {{lendingPerioDirection}}</td>
        <td width="200px" (click)="sortData('ReturnDate',returnDateDirection)">ReturnDate {{returnDateDirection}}</td>
        <td width="200px">Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockArray">
        <td>{{stock.tradeDate}}</td>
        <td (click)="getStockInfo(stock.stockId,stock.tradeDate,stock.name)">{{stock.stockId}} {{stock.name}}</td>
        <td>{{stock.type}}</td>
        <td>{{stock.volume}}</td>
        <td>{{stock.fee}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.lendingPeriod}}</td>
        <td>{{stock.returnDate}}</td>
        <td>
          <button [routerLink]="['/edit', stock.id]">修改</button>
          <button (click)="deleteStock(stock.id)">刪除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


