<input [(ngModel)]="startDate" type="text" name="startDate" placeholder="StartDate" />
<select *ngIf="isPages" class="form-control" id="pageSelect" [(ngModel)]="selectedPage">
  <option *ngFor="let opt of ngOptions"
          [selected]="opt === ngDropdown"
          [value]="opt">
    {{ opt }}
  </option>
</select>
<button (click)="getDataFromBackEnd(startDate)">確認</button>
<div *ngIf="isFilter " style="margin-top: 50px;">
  <table style="border: 1px solid black; margin: 30px 0 0 30px;">
    <thead>
      <tr>
        <td width="200px">tradeDate</td>
        <td width="400px">stockCode</td>
        <!--<td width="200px">name</td>-->
        <td width="200px">type</td>
        <td width="200px">volume</td>
        <td width="200px">fee</td>
        <td width="200px">price</td>
        <td width="200px">lendingPeriod</td>
        <td width="200px">returnDate</td>
        <td width="200px">{{pageCount}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockArray">
        <td>{{stock.tradeDate}}</td>
        <td>{{stock.stockId}} {{stock.name}}</td>
        <!--<td>{{stock.name}}</td>-->
        <td>{{stock.type}}</td>
        <td>{{stock.volume}}</td>
        <td>{{stock.fee}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.lendingPeriod}}</td>
        <td>{{stock.returnDate}}</td>
        <td>
          <!--<button [routerLink]="['/edit', weather.id, weather.date, weather.temperatureC, weather.summary]">修改</button>
          <button (click)="deleteWeather(weather.id)">刪除</button>-->
        </td>
      </tr>
    </tbody>
  </table>
</div>
